.category-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 50px;

    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2,1fr);
        column-gap: 10px;
        row-gap: 30px;
    }

    @media screen and (max-width: 568px) {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 0;
    }
  
}
.category-title{
    font-size: 38px;
    margin-bottom: 25px;
    text-align: center;
    cursor: pointer;
}